﻿@model ProjectMVC.Entidades.ArchivoDTO

@{
    ViewBag.Title = "Foto Instructor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var base64 = Convert.ToBase64String(Model.Contenido);
    var imgSrc = String.Format("data:image/{0};base64,{1}", Model.Extension, base64);

    var idInstructor = ViewBag.IdInstructor;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <h4>Foto de Base de datos</h4>
        <br />
        <img id="imgFoto" src="@imgSrc" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <h4>Actualizar foto a base de datos</h4>
        @using (Html.BeginForm("Index", "Instructores", FormMethod.Post
                                    , new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" id="btnActualizarFoto" value="Actualizar Foto"
                   class="form-control" />
        }
    </div>
    <input type="hidden" id="hdnId" value="@idInstructor" />
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <h4>Descarga de Foto</h4>
        <br />
        @Html.ActionLink("Descarga Foto aquí", "DescargarFoto", "Instructores"
                            , new { id = idInstructor }, new { @class="btn btn-primary" })
        <br />
        <button type="button" id="btnDescargarFoto" class="btn btn-success" 
               value="Descargar Foto Aquí">Descargar Foto Aquí</button>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#btnDescargarFoto').click(function () {
                window.location = '@Url.Action("DescargarFoto", "Instructores")?id=' + $('#hdnId').val();
            });

        });
    </script>
}
