﻿@using ProjectMVC.Entidades;
@model List<Examan>

@if (Model != null && Model.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Activo</th>
                                <th>Tecnología</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Codigo</td>
                                    <td class="text-left">@item.Nombre</td>
                                    <td class="text-right">@string.Format("{0:C}", item.Precio)</td>
                                    @if (item.Activo)
                                    {
                                        <td class="text-center text-success">Sí</td>
                                    }
                                    else
                                    {
                                        <td class="text-center text-danger">No</td>
                                    }
                                    <td>@item.Tecnologia.Descripcion</td>
                                    <td>
                                        <a href="#" onclick="mostrarEditarExamen(@item.Id,
                                                                            '@item.Nombre',
                                                                            '@item.Codigo',
                                                                            @item.Precio,
                                                                            @Json.Encode(item.Activo),
                                                                            @item.IdTecnologia)">Editar</a>
                                    </td>
                                    <td>
                                        <a href="#" onclick="mostrarEliminarExamen(@item.Id, 
                                                                                '@item.Nombre',
                                                                                '@item.Codigo')">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Verifique los precios de los exámenes</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    No se encontraron exámenes registrados
                </div>
            </div>
        </div>
    </div>
}
