﻿
@{
    ViewBag.Title = "Listado de Exámenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        @Html.ActionLink("Agregar Nuevo Examen", "CrearExamen", "Examenes")
    </div>
</div>

<div id="dvListado">
</div>

<button id="btnAjaxWCF" type="button" class="btn btn-info">Probar Ajax WCF</button>
<br />
<div id="divAjaxWCF"></div>
<br />
<br />
<button id="btnListAjaxWCF" type="button" class="btn btn-primary">Probar Listado Ajax WCF</button>
<br />
<div id="divListAjaxWCF"></div>
<br />
<br />
<button id="btnImgAjaxWCF" type="button" class="btn btn-primary">Probar Imagen Ajax WCF</button>
<br />
<div id="divImgAjaxWCF"></div>

<input id="hdnIdExamen" value="" type="hidden" />
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editarModalLabel">Editar Examen</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="txtNombre" class="control-label">Nombre:</label>
                        <input type="text" class="form-control" id="txtNombre">
                    </div>
                    <div class="form-group">
                        <label for="txtCodigo" class="control-label">Código:</label>
                        <input type="text" class="form-control" id="txtCodigo">
                    </div>
                    <div class="form-group">
                        <label for="txtPrecio" class="control-label">Precio:</label>
                        <input type="text" class="form-control" id="txtPrecio">
                    </div>
                    <div class="form-group">
                        <label for="chkActivo" class="control-label">Activo:</label>
                        <input type="checkbox" class="form-control" id="chkActivo">
                    </div>
                    <div class="form-group">
                        <label for="selTecnologia" class="control-label">Tecnología:</label>
                        <select class="form-control" id="selTecnologia">
                            @foreach (var opcion in ViewBag.ListadoTecnologias as List<ProjectMVC.Models.Custom.ListadoGenerico>)
                            {
                                <option value="@opcion.Id">@opcion.Descripcion</option>
                            }
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="editarExamen();">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="~/Scripts/WCFAjax.js"></script>
    <script>
        function cargarExamenes() {
            // Cargar la vista parcial con la lista de examenes al div dvListado
            $('#dvListado').load('@(Url.Action("_ListadoExamenes","Examenes"))',
                function (response, status, xhr) {
                    if (status == "error") {
                        swal("Error","Ocurrió un error al cargar el listado de exámenes.","error");
                    }
                });
        }

        function editarExamen()
        {
            var examen = {
                Id: $('#hdnIdExamen').val(),
                Nombre: $('#txtNombre').val(),
                Codigo: $('#txtCodigo').val(),
                Precio: $('#txtPrecio').val(),
                Activo: $('#chkActivo').prop('checked'),
                IdTecnologia: $('#selTecnologia').val()
            }

            if (examen.Id <= 0) {
                swal("Aviso","No se encuentra el examen cargado correctamente, favor de volver a internatrlo","warning");
            }
            else if (examen.Nombre.length < 5) {
                swal("Aviso", "El Nombre debe tener mínimo 5 carácteres", "warning");
            }
            else if (examen.Codigo.length < 5) {
                swal("Aviso", "El Código debe tener mínimo 5 carácteres", "warning");
            }
            else if (examen.Precio <= 0) {
                swal("Aviso", "El Precio debe ser mayor a cero", "warning");
            }
            else {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '@Url.Action("EditarExamen","Examenes")',
                    data: JSON.stringify(examen),
                    contentType: "application/json",
                    datatType: "json",
                    error: function(xhr, status){
                        swal('Error en ajax ' + status);
                    },
                    success: function(data){
                        console.log(data);
                        swal(""+data.mensaje);
                        $('#modalEditar').modal('hide');
                        cargarExamenes();
                    }
                });
            }
        }

        function mostrarEditarExamen(id, nombre, codigo, precio, activo, idTecnologia){
            $('#hdnIdExamen').val(id);

            $('#txtNombre').val(nombre);
            $('#txtCodigo').val(codigo);
            $('#txtPrecio').val(precio);
            $('#chkActivo').prop('checked',activo);
            $('#selTecnologia').val(idTecnologia);

            $('#modalEditar').modal('show');
        }

        function eliminarExamen(id) {

            var examen = {
                idExamen: id
            }
            $.ajax({
                type: "POST",
                async: false,
                url: '@Url.Action("EliminarExamen", "Examenes")',
                data: JSON.stringify(examen),
                contentType: "application/json",
                datatType: "json",
                error: function (xhr, status) {
                    console.log(xhr);
                    swal('Error en ajax ' + status);
                },
                success: function (data) {
                    console.log(data);
                    swal("" + data.mensaje);
                    cargarExamenes();
                }
            });
        }

        function mostrarEliminarExamen(id, nombre, codigo) {
            swal({
                title: '¿Está seguro de eliminar el examen con código '
                        + codigo
                        + ' y nombre '
                        + nombre
                        + '?',
                text: "No será posible revertir este cambio!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Aceptar'
            }).then(function () {
                eliminarExamen(id);
            });
        }

        $(document).ready(function () {
            cargarExamenes();

            $("#btnAjaxWCF").click(function () {
                var parametros = { idExamen: 1 };

                ajaxObjeto("divAjaxWCF", "http://localhost:52608/srvcAjax.svc/ObtenerExamen", parametros);

                return false;
            });

            $("#btnListAjaxWCF").click(function () {
                var parametros = {};

                ajaxListado("divListAjaxWCF", "http://localhost:52608/srvcAjax.svc/ObtenerExamenes", parametros);

                return false;
            });

            $("#btnImgAjaxWCF").click(function () {
                var parametros = {idInstructor: 1};

                ajaxImg("imgAjax", "divImgAjaxWCF", "http://localhost:52608/srvcAjax.svc/ObtenerFotoInstructor", parametros);

                return false;
            });
        });
    </script>
}