﻿@using ProjectMVC.Entidades;
@model List<ConteoCursoDTO>

@if (Model != null && Model.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cantidad Cursos Ofertados</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Codigo</td>
                                    <td class="text-center">@item.Nombre</td>
                                    <td class="text-left">@item.CantidadCursosOfertados</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">El conteo muestra la cantudad de cursos ofertados por cada curso registrado en el sistema</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    No se encontraron cursos
                </div>
            </div>
        </div>
    </div>
}