﻿@{
    ViewBag.Title = "Conteo de Cursos Ofertados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row hidden-print">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <div class="btn-group">
            <button type="button" id="btnImprimir" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> Imprimir</button>
            <button type="button" id="btnDescargarPDF" class="btn btn-danger"><i class="glyphicon glyphicon-file"></i> PDF</button>
        </div>
    </div>
</div>


<div id="dvListado">
</div>

@section scripts{
    <script>
        function cargarConteoCursos() {
            // Cargar la vista parcial con la lista del conteo de cursos al div dvListado
            $('#dvListado').load('@(Url.Action("_ListadoCursosConteo", "Cursos"))',
                function (response, status, xhr) {
                    if (status == "error") {
                        swal("Error", "Ocurrió un error al cargar el listado del conteo de cursos.", "error");
                    }
                });
        }

        function ExportarPDF()
        {
            $.ajax({
                method: "GET",
                async: true,
                url: '@Url.Action("ExportarListadoCursosConteo", "Cursos")',
                contentType: "application/json",
                dataType: "json",
                error: function (xhr, textStatus, errorThrown) {
                    swal("Error: " + textStatus);
                },
                success: function (data) {
                    if (data == "OK") {
                        window.location = '@Url.Action("DescargaArchivo", "Cursos")'
                    }
                }
            });
        }

        $(document).ready(function () {
            cargarConteoCursos();

            $('#btnDescargarPDF').click(function (event) {
                event.preventDefault();

                ExportarPDF();
            });

            $('#btnImprimir').click(function (event) {
                event.preventDefault();

                window.print();
            });

        });
    </script>
    }
